.git
.github
.mypy_cache
.ruff_cache
.pytest_cache
__pycache__
*.py[cod]
*.egg-info
dist
build
.eggs
htmlcov
coverage.xml
.coverage
.env
.venv
venv
*.log
.DS_Store
Thumbs.db
.benchmarks
docs
*.md
!README.md
